/.Spec.java._trace
/.MapSpec.java._trace
/.MapNumberOfAxeSSpec.java._trace
/.LaunchMapFeature.java._trace
/.LaunchMapFeatureLaunchingTheMap.java._trace
/.TileLoadFeature.java._trace
/.TileLoadFeatureLoadingTheMap.java._trace
/.GamePanelFeature.java._trace
/GamePanelFeatureLaunchingTheGamePanel.java
/.GamePanelFeatureBackground.java._trace
/.GamePanelFeatureLaunchingDiamondHunter.java._trace
/.GamePanelFeatureLaunchingTheGame.java._trace
/TileLoadFeature.java
/TileLoadFeatureLoadingTheMap.java
